html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: min(2vw, 2vh);
}
.left {
  color: #57f;
}
.right {
  color: #f74;
}
.board {
  --board-border-color: #333;
  border-right: 1px solid var(--board-border-color);
  border-top: 1px solid var(--board-border-color);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.board > div {
  border-bottom: 1px solid var(--board-border-color);
  border-left: 1px solid var(--board-border-color);
  height: min(10vw, 10vh);
  width: min(10vw, 10vh);
  position: relative;
}
.board > div:nth-child(19),
.board > div:nth-child(46) {
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
}
.square {
  font-size: min(4vw, 4vh);
  line-height: min(10vh, 10vw);
  text-align: center;
  cursor: default;
}
.board > div .up,
.board > div .right,
.board > div .down,
.board > div .left {
  display: none;
}
.board > div.hoverable:hover .up,
.board > div.hoverable:hover .right,
.board > div.hoverable:hover .down,
.board > div.hoverable:hover .left {
  cursor: pointer;
  display: block;
  position: absolute;
  opacity: 0.6;
}
.board > div.hoverable:hover .up:hover,
.board > div.hoverable:hover .right:hover,
.board > div.hoverable:hover .down:hover,
.board > div.hoverable:hover .left:hover {
  opacity: 1;
}
.board > div.hoverable:hover .right,
.board > div.hoverable:hover .left {
  top: calc(50% - min(1.8vw, 1.8vh));
}
.board > div.hoverable:hover .up,
.board > div.hoverable:hover .down {
  left: calc(50% - min(1.8vw, 1.8vh));
}
.board > div.hoverable:hover .right {
  right: min(0.5vw, 0.5vh);
  --border-size: min(1.8vw, 1.8vh);
  border-left: var(--border-size) solid #333;
  border-top: var(--border-size) solid transparent;
  border-bottom: var(--border-size) solid transparent;
}
.board > div.hoverable:hover .left {
  left: min(0.5vw, 0.5vh);
  --border-size: min(1.8vw, 1.8vh);
  border-right: var(--border-size) solid #333;
  border-top: var(--border-size) solid transparent;
  border-bottom: var(--border-size) solid transparent;
}
.board > div.hoverable:hover .up {
  top: min(0.5vw, 0.5vh);
  --border-size: min(1.8vw, 1.8vh);
  border-bottom: var(--border-size) solid #333;
  border-left: var(--border-size) solid transparent;
  border-right: var(--border-size) solid transparent;
}
.board > div.hoverable:hover .down {
  bottom: min(0.5vw, 0.5vh);
  --border-size: min(1.8vw, 1.8vh);
  border-top: var(--border-size) solid #333;
  border-left: var(--border-size) solid transparent;
  border-right: var(--border-size) solid transparent;
}
.footer {
  display: flex;
  width: min(80vw, 80vh);
  padding: min(2vw, 2vh) 0;
}
.checkers-left {
  flex-grow: 1;
  font-size: min(3vw, 3vh);
  line-height: min(4vw, 4vh);
  text-align: center;
}
.switch {
  cursor: pointer;
  font-size: min(2vw, 2vh);
  line-height: min(4vw, 4vh);
  padding: 0 min(2vw, 2vh);
  color: #fff;
  position: relative;
}
.switch.blue {
  background-color: #57f;
}
.switch.orange {
  background-color: #f74;
}
.switch.blue:after,
.switch.orange:after {
  content: "";
  position: absolute;
  top: 0;
}
.switch.blue:after {
  --border-size: min(2vw, 2vh);
  left: calc(-1 * var(--border-size));
  border-bottom: var(--border-size) solid transparent;
  border-top: var(--border-size) solid transparent;
  border-right: var(--border-size) solid #57f;
}
.switch.orange:after {
  --border-size: min(2vw, 2vh);
  right: calc(-1 * var(--border-size));
  border-bottom: var(--border-size) solid transparent;
  border-top: var(--border-size) solid transparent;
  border-left: var(--border-size) solid #f74;
}
